@font-face {
    font-family: 'Notosans';
    src: url('../fonts/NotoSansJP-Bold-Alphabetic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Notosans';
    src: url('../fonts/NotoSansJP-Medium-Alphabetic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Notosans';
    src: url('../fonts/NotoSansJP-Regular-Alphabetic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Notosans';
    src: url('../fonts/NotoSansJP-Light-Alphabetic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

